.basic-image{
    max-width: 100%;
    border: 10px solid yellowgreen;
}

  /* Body */
body{

    margin: 0;
    color: var(--color-dark);
    background: white;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100%;
    font-weight: var(--bs-body-font-weight);
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.main-contain {
    background-color: #993E1D;
    max-width:100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 73px;
    padding-right: 73px;
}

.main-contain-2 {
    max-width:100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 73px;
    padding-right: 73px;
}

.featurette-divider {
    margin: 5rem 0;
}

.entry-content{
    font-family: ‘Open Sans’, sans-serif;
  }

  
  /* Variables */
  h1{
      padding: 2rem;
      color: var(--color-dark);
  }
  h3{
      color: var(--color-dark);
      padding-bottom: 1rem;
      padding-top: 1rem;
  }

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #993E1D;
    background: none;
    font-weight: bold;
}

.py-1 {
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
}

/* Tabla */
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-color: #993E1D
}

/* Footer */
.blog-footer {
    padding: 2.5rem 0;
    color: #ffffff;
    text-align: center;
    background-color: #993E1D;
    border-top: 0.05rem solid #e5e5e5;
}
footer {
    display: block;
}
